@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-[#ececec] antialiased;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #101111;
}

::-webkit-scrollbar-thumb {
  background: #343637;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #686b6e;
}